body {
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

textarea {
  width: 100%;
  overflow-x: auto;
}

select {
  height: 2rem;
  line-height: 2rem;
}

button {
  height: 2rem;
}

@media screen and (max-width: 700px) {
  body {
    width: 90%;
  }
}

